@model ElcheEventManager.Models.db.Intersection

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Intersection</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.primary_street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.primary_street)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.secondary_street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.secondary_street)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.latitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.latitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.longitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.longitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Event.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Event.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Material.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Material.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
