@model ElcheEventManager.Models.db.Event

@{
    ViewBag.Title = "Delete";
}

<h2>Evento</h2>
<br>
<h3>Estás seguro que deseas eliminar?</h3>
<div>    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.start_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.start_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.end_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.end_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.manager_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.manager_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.manager_phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.manager_phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.manager_email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.manager_email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status.name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-outline-danger" /> 
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-outline-dark" })
        </div>
    }
</div>
