@model IEnumerable<ElcheEventManager.Models.db.Event>

@{
    ViewBag.Title = "Lista Eventos";
}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" rel="stylesheet" />
</head>

<h2>Listado de eventos</h2>
<p>
    @Html.ActionLink("Nuevo evento", "Create", null, new { @class = "btn btn-success" })
</p>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table id="eventsTable" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Fecha de inicio</th>
                            <th>Estado</th>
                            <th>Categoría</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.21/sorting/datetime-moment.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            $('#eventsTable').DataTable({
                "ajax": {
                    "url": '@Url.Action("GetEvents")',
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "name" },
                    {
                        "data": "start_date",
                        type: "datetime",
                        "render": function (data) {
                            return moment(data, 'MM/DD/YYYY HH:mm').format('DD/MM/YYYY HH:mm');
                        }
                    },
                    { "data": "status_name" },
                    { "data": "category_name" },
                    {
                        "data": "id",
                        "render": function (data, type, row) {
                            return `
                                <a href='@Url.Action("Edit", "Events")/${data}' class='btn btn-outline-primary'>
                                    <i class="far fa-pen-to-square"></i>
                                    <span class="d-none d-sm-inline">Editar</span>
                                </a>
                                <a href='@Url.Action("Details", "Events")/${data}' class='btn btn-outline-info'>
                                    <i class="fa-solid fa-circle-info"></i>
                                    <span class="d-none d-sm-inline">Detalles</span>
                                </a>
                                <a href='@Url.Action("Delete", "Events")/${data}' class='btn btn-outline-danger'>
                                    <i class="fa-solid fa-trash"></i>
                                    <span class="d-none d-sm-inline">Eliminar</span>
                                </a>
                                <a href='@Url.Action("IntersectionsMap", "Intersections")/${data}' class='btn btn-outline-success'>
                                    <i class="fa-regular fa-map"></i>
                                    <span class="d-none d-sm-inline">Mapa</span>
                                </a>
                                <a href='@Url.Action("FencesList", "Intersections")/${data}' class='btn btn-outline-secondary'>
                                    <i class="fa-solid fa-list"></i>
                                    <span class="d-none d-sm-inline">Lista de vallas</span>
                                </a>
                            `;
                        }
                    }
                ],
                "columnDefs": [
                    { "type": "date-eu", "targets": 1 } // Tratar la columna 1 (start_date) como una fecha con el formato 'DD/MM/YYYY'
                ],
                "order": [[1, "desc"]]
            });

        });
    </script>


}

